<center>
    <form method="POST" action="{{ url('redsys.payment_action') }}" style="width: 300px;">
        <fieldset>
            <legend>Compra:</legend>
            <div>
                <label>Importe</label>
                <input type="number"  name="amount" />
            </div>
        </fieldset>
        <fieldset>
            <legend>Datos de pago:</legend>
        <div>
            <label>Nº tarjeta</label>
            <input type="text" size="20" name="pan"/>
        </div>
        <div>
            <label>Mes</label><input type="text" size="2" name="month"/>
            <label>Año</label><input type="text" size="4" name="year"/>
        </div>
        <div>
            <label>Nombre Titular</label>
            <input type="text" name="name"/>
        </div>
        <div>
            <label>CVV</label>
            <input type="text" size="3" name="cvv"/>
        </div>
        <input type="hidden" name="csrf" value="{{ csrf }}"/>
        </fieldset>
        <input type="submit" value="Pagar">
    </form>
</center>
