<form action="{{ redsys_URL }}" method="POST">
    <input type="hidden" name="Ds_SignatureVersion" value="{{ Ds_SignatureVersion }}" />
    <input type="hidden" name="Ds_MerchantParameters" value="{{ Ds_MerchantParameters }}" />
    <input type="hidden" name="Ds_Signature" value="{{ Ds_Signature }}" />
    <input type="submit" value="Pagar"/>
</form>